.button {
  font-size: 1.2rem;
  width: 100%;
  display: block;
  height: 3em;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0.2em;
  transition: 0.2s;
}

.button:hover {
  opacity: 0.8;
}

.red {
  background-color: rgb(255, 25, 0);
}

.blue {
  background-color: rgb(0, 136, 255);
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.disabled:hover{
  opacity: 0.5;
}
