.image_wrapper {
    margin-top: 2em;
    position: relative;
    width: 100%;
    height: 40em;
}

.button_group {
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.back_button {
    margin-top: 4em;
    width: 10em;
}